:root {
  --wheel: color-mix(
    in oklch,
    var(--color-base-content) 30%,
    var(--color-base-100)
  );
}

.wheel svg {
  transition: transform 5s ease-out;
}

svg text {
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.wheel::after {
  content: "";
  position: absolute;
  left: 94%;
  top: 50%;
  width: 0;
  height: 0;
  border-right: 6vh solid
    color-mix(in oklch, var(--color-base-content) 40%, var(--color-base-100));
  border-bottom: 2vh solid transparent;
  border-top: 2vh solid transparent;
  transform: translateY(-50%);
  clear: both;
}
